* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    color: white;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

a:hover {
    color: rgb(183, 28, 28);
}

