header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

strong {
    font-size: 24px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 64px ;
}

.flex-span {
    gap: 32px;
}