#hero {
    width: 100%;
    height: 800px;
    align-content: center;
    text-align: center;
    background: #B71C1C;
    background: radial-gradient(circle, rgba(183, 28, 28, 0.05) 0%, rgba(0, 0, 0, 1) 100%);
    
}

#hero .verm {
    background-color: rgba(183, 28, 28, 0.2);
    border: 1px solid rgba(183, 28, 28, 0.7);
    padding:6px 18px;
    text-transform: uppercase;
    border-radius: 20px;
    display: inline-block;
    color: rgb(183, 28, 28);
}

#hero .nome {
    color: rgb(183, 28, 28);
}

#hero h1, .nome {
    font-size: 64px;
    font-weight: 1000;
    padding-block: 14px;
}

#hero p {
    font-size: 20px;
    color: #BDBDBD;
    font-weight: 300;
}

#hero .n-1 {
    padding: 20px 36px;
    margin: 28px 8px;
    text-transform: uppercase;
    background-color: rgb(183, 28, 28);
    border: none;
    color: white;
    font-weight: 500;
    letter-spacing: 1.5px;
    border-radius: 6px;
    cursor: pointer;
}

#hero .n-1:hover {
    background-color: rgb(211, 47, 47);
    box-shadow: 0 6px 18px rgba(211, 47, 47, 0.5);
    transform: translateY(-2px);
}

#hero .n-2 {
    padding: 20px 36px;
    margin: 28px 8px;
    text-transform: uppercase;
    background-color: rgba(183, 28, 28, 0.02);
    border: 1px solid rgba(183, 28, 28, 0.7);
    color: white;
    font-weight: 500;
    letter-spacing: 1.5px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

#hero .n-2:hover {
    background-color: rgba(183, 28, 28, 0.2);
    border: 1px solid rgba(183, 28, 28, 0.9);
    box-shadow: 0 6px 18px rgba(183, 28, 28, 0.4);
    transform: translateY(-2px);
}