@import url(./global.css);
@import url(./header.css);
@import url(./hero.css);
@import url(./meme.css);
@import url(./about.css);
@import url(./skills.css);
@import url(./projects.css);
@import url(./contato.css);
@import url(./footer.css);